<div class="conteiner-fluid" id="about">
    <div class="row bg-dark text-white p-5 text-center">
        <div class="col-sm-5">
            <img src="/img/link.png"  alt="Exito">
        </div>  
        <div class="col-sm-6">
            <h3>Bienvenido SaveLinkMe</h3>
            
            <p>SaveLinkMe esta creado en la tecnología Node, mediante el FrameWork Express.</p>
        </div> 
    </div>
</div>
<footer class="bg-light text-center p-2">
    <p class="h3">Ing.Jose luis Castañeda Osornio &copy</p>
</footer>